[submodule "components/bosch/bmp280"]
	path = components/bosch/bmp280
	url = https://github.com/BoschSensortec/BMP280_driver.git
[submodule "components/jpegdec"]
	path = components/jpegdec
	url = https://github.com/bitbank2/JPEGDEC/
[submodule "components/lovyanGFX"]
	path = components/lovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
	branch = develop
[submodule "components/epaper-spi/calepd"]
	path = components/epaper-spi/calepd
	url = https://github.com/martinberlin/CalEPD.git
	branch = idf_v5
[submodule "components/adafruit-gfx"]
	path = components/adafruit-gfx
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF
[submodule "components/scd4x"]
	path = components/scd4x
	url = https://github.com/timbuntu/esp-idf-scd4x.git
[submodule "components/epaper-parallel/epdiy"]
	path = components/epaper-parallel/epdiy
	url = https://github.com/martinberlin/epdiy-rotation.git
	branch = lilygos3

[submodule "components/OpenFontRender/upstream"]
	path = components/OpenFontRender/upstream
	url = https://github.com/martinberlin/OpenFontRender-idf.git
	branch = develop

[submodule "components/i2c/ds3231"]
	path = components/i2c/ds3231
	url = https://github.com/martinberlin/cpp-ds3231.git
[submodule "components/i2c/pcf8563"]
	path = components/i2c/pcf8563
	url = https://github.com/martinberlin/esp-idf-pcf8563.git
[submodule "components/i2c/hm3301"]
	path = components/i2c/hm3301
	url = https://github.com/martinberlin/HM3301-idf.git
